{{template "base" .}}

{{define "title"}}Leaderboard{{end}}

{{define "scripts"}}<script src="/static/js/leaderboard.js" type="text/javascript"></script>{{end}}

{{define "main"}}
	<div id="to-top" class="to-top hidden"><p>Back To Top</p></div>
	<select class="select" id="bracket-select">
		<option selected disabled hidden>Choose Bracket</option>
		<option value="2v2">2v2 Arenas</option>
		<option value="3v3">3v3 Arenas</option>
		<option value="rbg">Rated Battlegrounds</option>
	</select>
	{{if .Leaderboard}}
		<h1 class="mt">{{(index .Leaderboard 0).Bracket}}</h1>
		<div class="pagination">
			{{if gt .Offset .Limit}}
				<a href="/leaderboard/{{(index .Leaderboard 0).Bracket}}?limit={{.Limit}}&offset={{previousPage .Limit .Offset}}">< Last</a>
			{{end}}
			<a href="/leaderboard/{{(index .Leaderboard 0).Bracket}}?limit={{.Limit}}&offset={{.Offset}}">Next ></a>
		</div>
		<ul class="leaderboard">
            <li class="entry header">
                <div class="rank">Rank</div>
                <div class="rating">Rating</div>
                <div class="name">Name</div>
                <div class="faction">Faction</div>
                <div class="race">Race</div>
                <div class="spec">Spec</div>
                <div class="won">Won</div>
                <div class="lost">Lost</div>
            </li>
			{{range .Leaderboard}}
			<li class="entry">
				<a class="{{ classSlug .CharacterClass }} flex row bottom-border" href="/character/{{ .CharacterRealmSlug }}/{{ .CharacterName }}">
					<div class="rank">{{ .Rank }}</div>
					<div class="rating">{{ .Rating }}</div>
					<div class="name">{{ .CharacterName }}</div>
					<div class="faction">{{ .CharacterFaction }}</div>
					<div class="race">{{ .CharacterRace }}</div>
					<div class="spec">{{ .CharacterSpec }}</div>
					<div class="won">{{ .GamesWon }}</div>
					<div class="lost">{{ .GamesLost }}</div>
				</a>
			</li>
			{{end}}
        </ul>
		<div class="pagination">
			{{if gt .Offset .Limit}}
				<a href="/leaderboard/{{(index .Leaderboard 0).Bracket}}?limit={{.Limit}}&offset={{previousPage .Limit .Offset}}">< Last</a>
			{{end}}
			<a href="/leaderboard/{{(index .Leaderboard 0).Bracket}}?limit={{.Limit}}&offset={{.Offset}}">Next ></a>
		</div>
	{{else}}
		<p>There's no data</p>
	{{end}}
{{end}}